body {
    display: flex;
    min-height: calc(100vh);
    background-color: #E0E2FF;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    height: calc(100vh);
    box-shadow: 3px 0 5px -2px #888;
    z-index: 999998;
    position: fixed;
    overflow-y: auto;
}

.content {
    margin-left: 250px;
    width: 100%;
    min-height: calc(100vh);
    background-color: #E0E2FF;
}