<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-2">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a routerLink="./sql-editor" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2">
                    New Query
                </a>
            </li>
            <li>
                <a routerLink="./import-data" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2"><i
                        class="fas fa-table me-1"></i>Import Data
                </a>
            </li>
            <li>
                <a routerLink="./table" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2"><i
                        class="fas fa-table me-1"></i>Tables
                </a>
            </li>
            <li>
                <a routerLink="./external-table" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2"><i
                        class="fas fa-table me-1"></i> External Tables
                </a>
            </li>
            <li>
                <a routerLink="./view" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2"><i
                        class="fas fa-table me-1"></i>
                    Views
                </a>
            </li>

        </ul>
    </div>
</body>

</html>