.wrapper {
    display: flex;
}

.wrapper .iconbar {
    left: 0;
    min-height: calc(100vh);
    position: fixed;
    z-index: 999999;
    box-shadow: 3px 0 5px -2px #888;
}

.wrapper .content {
    margin-left: 3rem;
    width: calc(100vw - 3rem);
    min-height: calc(100vh);
}