<nav class="flex-column justify-content-center align-items-center align-self-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="material-icons">menu</span>
        </a>
        <ul class="navbar-nav mb-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <span class="material-icons">home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-icons">pie_chart</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-icons">pie_chart</span>
                </a>
            </li>
            <li class="nav-item dropend">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="material-icons">pie_chart</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>